

.information-wrapper {
    text-align: center;
    padding:70px;
    overflow: hidden;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/restaurant-80efb.appspot.com/o/background%2Fextra_clean_paper.png?alt=media&token=2d8c9a53-d2bf-4339-9316-8c023dccd612');
    border-radius:12px;
    margin-bottom: -100px;
    position: relative;
}

img {
    max-width: 100%;
    height: auto;
}

/* align */

.alignbox-small {
    display: inline-block;
    width: 20%;
    margin: 2%;
    border: solid black;
    padding:20px;
}
.alignbox-big {
    display: inline-block;
    width: 48%;
    margin: 2%;

}
.alignbox-big2, .alignbox-big3 {
    /* AICIAM RAMAS */
    
    float: left;
    width: 45%;
    margin: 2%;
  
    
}
.alignbox-big3 {
margin-top:50px;

}
.alignbox-big3 p {
margin-top:50px;
    font-size: 30px;
    letter-spacing: 0.05em;
    text-align: center;
    font-family: 'Anton', sans-serif;
}

/* hr */

h4 {
    overflow: hidden;
    text-align: center;
    line-height: 1.2;

}

h4:before, h4:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

h4:before {
    right: 0.5em;
    margin-left: -50%;
}

h4:after {
    left: 0.5em;
    margin-right: -50%;
}

/* hr end */

/* button */

button {
    border: 2px;
    border-radius: 5px;
    margin: 2px;
    width: 150px;
    height: 50px;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: #FFFFFF;
    background-color: #DDAE71;
    text-align: center;
    cursor: pointer;
    /* box-shadow: inset 0px 0px 0px rgb(182, 145, 96); */
    transition: all 0.3s !important;
}

button:hover {
    background-color: rgb(182, 145, 96);
    color: white;
    box-shadow: inset 0px -80px 0px rgb(182, 145, 96);
}
button span  {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover span  {
    padding-right: 25px;
}

button:hover span:after  {
    opacity: 1;
    right: 0;
}

#hidden {
    display: none;
}

.top-bottom {
    margin-top: 50px;
    margin-bottom: 50px;
}


.italicColor {

    color: rgb(24, 70, 138);
}


@media only screen and (max-width: 1200px) {
    .alignbox-small {
        display: inline-block;
        width: auto;
        margin: 2%;
        border: solid black;
        padding:20px;
    }
    .alignbox-big {
        display: inline-block;
        width: auto;
        margin: 2%;
    
    }
}

@media only screen and (max-width: 992px) {
    .alignbox-big2, .alignbox-big3 {
        /* AICIAM RAMAS */
        
        float: left;
        width: auto;
        margin: 2%;
    }
    /* img {
        max-width: auto;
        height: auto;
    } */
    .alignbox-big3 {
    width:100%;
    text-align: center;
    }
    .alignbox-big3 p {
    margin:2%;
    
        font-size: 30px;
        letter-spacing: 0.05em;
        text-align: center;
        font-family: 'Anton', sans-serif;
    }
}