.carousel-caption {
    margin-bottom: 20%;
    font-family: 'Italianno', cursive;
    text-shadow: 2px 2px black;
}

.carousel-caption h3 {
    font-size: 60px;
}

.carousel-caption button {
    font-size: 30px;
    width: 120px;
    height: 60px;
    background-color: black;
    margin-left: 10px;
}

.carousel-caption a:hover {
    text-decoration: none;
}

body, html {
    font-family: 'Muli';
    height: 100%;
    margin: 0;
    background-image: url('dark-wood.jpg')
}

.icons {
    height: 25px;
}

.navbar {
   
    border-radius: 2px;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4);
    padding: 0 10px;
    position: absolute;
    width:100%;
    
    top: 0;
    left: 0;
    z-index: 99999;
}

a.bgcolor:hover {
    background-color: #b64848;

    border-radius: 12px;
    box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
    color: #222;
}

a {
    color:white!important;
}
a.dropdown-item {
    color:black!important;
}
.margin-top {
    margin-top: 50px;
}

.information-wrapper {
    padding:70px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgba(126, 143, 160, 0.623);
}

img {
    max-width: 100%;
    height: auto;
}

/* align */

.alignbox-small {
    display: inline-block;
    width: 20%;
    margin-left: 2%;
    border: solid black;
}
.alignbox-big {
    display: inline-block;
    width: 44%;
    margin-left: 2%;
    border: solid black;
}
.alignbox-big2 {
    display: inline-block;
    width: 50%;
    padding:100px;
    
    margin-left: 2%;
    border: solid black;

}

.alignbox-big2 p {

    font-size: 40px;
    letter-spacing: 0.05em;
    text-align: center;
    font-family: 'Anton', sans-serif;
}

/* hr */

h4 {
    overflow: hidden;
    text-align: center;
}

h4:before, h4:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

h4:before {
    right: 0.5em;
    margin-left: -50%;
}

h4:after {
    left: 0.5em;
    margin-right: -50%;
}

/* hr end */

/* button */

.button {
    border-radius: 4px;
    background-color: #c4424279;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-left: 40%;
}

.button:hover {
    background-color: #7495d379;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.hidden {
    display: none;
}

.top-bottom {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* HERO IMAGE */

.hero-image {
    background-image: linear-gradient(rgba(165, 165, 165, 0.459), rgba(0, 0, 0, 0.5)), url("wine.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text h4 {
    font-family: Italianno;
    font-size: 50px;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: #555;
    color: white;
}

/* HERO IMG END */

/* responsive */

@media screen and (max-width:936px) {
    .alignbox {
        display: inline-block;
        width: auto;
        float: none;
        margin-right: 0px;
        background-color: white;
        border: solid black;
    }
    p {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .button {
        margin: 15%;
    }
    button {
        display: inline-block;
        margin-left: 20%;
        margin-top: 10px;
        width: 140px;
    }
}

/* @media all and (max-width: 736px) {
    .alignbox {
        display: inline-block;
        width: auto;
        margin-right: 0px;
        background-color: white;
        border: solid black;
    }
    .button {
        border-radius: 4px;
        background-color: #c4424279;
        border: none;
        color: #FFFFFF;
        text-align: center;
        padding: 20px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
        margin-left: 40%;
    }
    .carousel-caption button {
        font-size: 30px;
        width: 120px;
        margin-left: 10px;
    }
} */


/* .alignbox {
    display: inline-block;
    width: 30%;
    margin-right: 2%;
    background-color: white;
    border: solid black;
}
.button {
    border-radius: 4px;
    background-color: #c4424279;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-left: 40%;
}
.carousel-caption button {
    font-size: 30px;
    width: 120px;
    margin-left: 10px;
} */
/* 
@media all and (max-width: 1199px) { ... } 
@media all and (max-width: 991px) { ... } 
@media all and (max-width: 768px) { ... } 
@media all and (max-width: 575px) { ... } */



/* loader */


